/* Write your CSS here */
.teamMatchesContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 30px;
  font-family: 'Bree serif';
  min-height: 100vh;
}
.teambanner {
  width: 100%;
}
.latestMatches {
  color: #ffffff;
  font-size: 20px;
}
.ulontainer {
  list-style-type: none;
  padding-left: 0px;
  display: flex;
  flex-wrap: wrap;
}

.RCB {
  background-image: linear-gradient(to bottom, #a4261d, #0f172a);
}
.KKR {
  background-image: linear-gradient(to bottom, #1e293b, #0f172a);
}
.KXP {
  background-image: linear-gradient(to bottom, #d91c1f, #0f172a);
}
.CSK {
  background-image: linear-gradient(to bottom, #f7db00, #0f172a);
}
.RR {
  background-image: linear-gradient(to bottom, #da237b, #0f172a);
}
.MI {
  background-image: linear-gradient(to bottom, #13418b, #0f172a);
}
.SH {
  background-image: linear-gradient(to bottom, #f26d22, #0f172a);
}
.DC {
  background-image: linear-gradient(to bottom, #4f5db0, #0f172a);
}
